html
    head
        title=title
        link(href=css rel="stylesheet")
    body
        h1=message
        div(id="app")
        //- 开发环境
        //- script(src="http://localhost:3000/@vite/client" type="module")
        //- script(src="http://localhost:3000/src/main.js" type="module")

        //- 正式环境
        script(src=vender)
        script(src=index)
